#content-wrapper {
  /* margin: 0 auto; */
  text-align: center;
}

#content-wrapper h1 {
  font-size: 3rem;
}

#admin-wrapper {
  margin-top: 2rem;
}

#admin-submit-button {
  padding: 1rem 10rem;
  margin-left: 5rem;
  margin-top: 2rem;
}

/* #fuck-forms-admin label {
  min-width: 15rem;
}

#fuck-forms-admin input {
  min-width: 15rem;
}

#fuck-forms-admin select {
  min-width: 15rem;
} */
