/* DEFAULTS */

body {
  font-family: "Roboto Condensed", sans-serif;
}

#background-pic {
  top: 0;
  left: 0;
  position: fixed;
  object-fit: cover;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  transform: scale(1.2);
  transform-origin: left;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: rgb(190, 190, 190);
  color: inherit;
  border: none;
  padding: 0.5rem 2rem;
  font: inherit;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}

/* ---------------- */

/* for error pages */
h3 {
  margin-top: 3rem;
  padding: 0;
  text-align: center;
  font-size: 3rem;
}

/* -------------- */

#form-wrapper {
  display: flex;
  margin-top: 2rem;
  margin-left: 2rem;
  /* gap: 1rem; */
  padding: 1rem;
  justify-content: center;
  width: 90%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

#form-wrapper ul {
  /* width: 100%; */
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

#form-wrapper li {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
}

#form-wrapper h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#form-wrapper label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
  white-space: nowrap;
  min-width: 7rem;
  max-width: 100%;
  text-align: right;
}

#form-wrapper input {
  flex-grow: 1;
  font-size: 1.5rem;
  height: 2rem;
  border: 2px solid black;
  border-radius: 8px;
  font-family: inherit;
  min-width: 7rem;
  max-width: 100%;
}

#form-wrapper select {
  flex-grow: 1;
  font-size: 1.5rem;
  height: 2.5rem;
  border: 2px solid black;
  border-radius: 8px;
  font-family: inherit;
  min-width: 7rem;
  max-width: 100%;
}

/* -------------------- */

/* DROP DOWN DISPLAY */

#drop-down {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

#drop-down a span {
  width: 100%;
  height: 0.3rem;
  background-color: black;
}

#drop-down:hover {
  transform: scale(1.5);
}

#drop-down-bars {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 3rem;
  height: 3rem;
}

#drop-down-menu-display {
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 10px;
  display: none;
}

#drop-down-menu-display h2 {
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem 2.5rem;
  border: none;
}

#drop-down-menu-display h2:hover {
  background-color: rgb(215, 215, 215);
  border-radius: 10px;
}

.hidden {
  display: none;
}
