<section id="drop-down">
  <a href="#" id="drop-down-bars">
    <span></span>
    <span></span>
    <span></span>
  </a>

  <div id="drop-down-menu-display">
    <button id="scrape-kcna-action-button" class="action-button">Scrape KCNA</button>
    <button id="track-crypto-action-button" class="action-button">Track Crypto</button>
  </div>
</section>
