<div id="drop-down">
  <a href="#" id="drop-down-bars">
    <span></span>
    <span></span>
    <span></span>
  </a>

  <ul id="drop-down-menu-display">
    <li>Scrape KCNA</li>
    <li>Track Crypto</li>
  </ul>
</div>
