<ul id="article-wrapper">
  <h1>ARTICLES</h1>
  <li id="article-type-list-item">
    <label for="article-type">Article Type</label>
    <select name="article-type" id="article-type">
      <option value="all-type" id="all-type" selected>All</option>
      <option value="fatboy" id="fatboy">Revolutionary Activities</option>
      <option value="top-news" id="top-news">Top News</option>
      <option value="latest-news" id="latest-news">Latest News</option>
      <option value="external-news" id="external-news">External News</option>
      <option value="anecdote" id="anecdote">Revolutionary Anecdotes</option>
      <option value="people" id="people">Always in Memory of the People</option>
    </select>
  </li>

  <li id="article-how-many-list-item">
    <label for="article-how-many">How Many?</label>
    <input type="text" name="article-how-many" id="article-how-many" placeholder="[Defaults to 1 (most recent)]" />
  </li>

  <li id="article-sort-by-list-item">
    <label for="article-sort-by">Sort By</label>
    <select name="article-sort-by" id="article-sort-by">
      <option value="article-newest-to-oldest" id="article-newest-to-oldest" selected>Newest to Oldest</option>
      <option value="article-oldest-to-newest" id="article-oldest-to-newest">Oldest to Newest</option>
    </select>
  </li>

  <div id="article-data-return-element"></div>
</ul>
