<h1>PIC SETS</h1>
<li id="pic-set-how-many-list-item">
  <label for="pic-set-how-many">How Many?</label>
  <input type="text" name="pic-set-how-many" id="pic-set-how-many" placeholder="[Defaults to 1 (most recent)]" />
</li>

<li id="pic-set-sort-by-list-item">
  <label for="pic-set-sort-by">Sort By</label>
  <select name="pic-set-sort-by" id="pic-set-sort-by">
    <option value="pic-set-newest-to-oldest" id="pic-set-newest-to-oldest" selected>Newest to Oldest</option>
    <option value="pic-set-oldest-to-newest" id="pic-set-oldest-to-newest">Oldest to Newest</option>
  </select>
</li>

