<div id="form-wrapper">
  <ul id="article-wrapper"><%- include("./form-article.ejs") %></ul>
  <ul id="pic-set-wrapper"><%- include("./form-pic-set.ejs") %></ul>
  <ul id="vid-page-wrapper"><%- include("./form-vid-page.ejs") %></ul>
  <div id="article-data-return-element"></div>
</div>
