<ul id="form-wrapper">
  <li id="article-list-item"><%- include("./form-article.ejs") %></li>
  <li id="pic-set-list-item"><%- include("./form-pic-set.ejs") %></li>
  <li id="vid-page-list-item"><%- include("./form-vid-page.ejs") %></li>

  <div id="article-data-return-element"></div>
</ul>
