<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs", {title: "404"}) %>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <h3><a href="/">UNDER CONSTRUCTION</a></h3>
    <h3>[404 ERROR]</h3>
  </body>
</html>
