<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <script type="module" src="/js/responsive/responsive-admin.js" defer></script>
  </head>
  <body>
    <img src="/images/KJU.jpg" alt="fatboy-pic" id="background-pic" />
    <main>
      <div id="content-wrapper">
        <div id="fuck-forms"><%- include("includes/admin/form-admin.ejs") %></div>
      </div>
      <div id="admin-data-return-wrapper" class="hidden"><%- include("includes/admin/data-return-admin.ejs") %></div>
    </main>
  </body>
</html>
